Source: ros-jazzy-laser-filters
Section: misc
Priority: optional
Maintainer: Jon Binney <jon.binney@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-googletest <!nocheck>, libangles-dev, liblaser-geometry-dev, libmessage-filters-dev, libsensor-msgs-dev, libtf2-dev, libtf2-ros-dev, pluginlib-dev, python3-angles, python3-laser-geometry, python3-message-filters, python3-sensor-msgs, python3-tf2, python3-tf2-ros, ros-jazzy-filters, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle, ros-sensor-msgs, ros-jazzy-ros-workspace
Homepage: http://ros.org/wiki/laser_filters
Standards-Version: 3.9.2

Package: ros-jazzy-laser-filters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libangles-dev, liblaser-geometry-dev, libmessage-filters-dev, libsensor-msgs-dev, libtf2-dev, libtf2-ros-dev, pluginlib-dev, python3-angles, python3-laser-geometry, python3-message-filters, python3-sensor-msgs, python3-tf2, python3-tf2-ros, ros-jazzy-filters, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle, ros-sensor-msgs, ros-jazzy-ros-workspace
Description: Assorted filters designed to operate on 2D planar laser scanners, which use the sensor_msgs/LaserScan type.
